main {
  padding-top: 118px;
  padding-bottom: 385px;
  @media all and (min-width: 620px) {
    padding-bottom: 330px;
  }
  .main-content {
    margin: 0 auto;
    max-width: 600px;
    padding: 60px 20px 0;
    hr {
      border-bottom: 2.5px solid $dark-brown;
      margin: 38px 12px;
    }
    .bold {
      font-weight: 600;
    }
  }
}

// Styles for pages with a hero banner
.hero-banner + .main-content {
  h3 {
    border-bottom: 6px double $golden-brown;
    color: $dark-brown;
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    @media all and (min-width: 620px) {
      font-size: 2.2rem;
    }
  }
  h4 {
    color: $dark-brown;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin: 0;
    @media all and (min-width: 620px) {
      font-size: 1.6rem;
    }
  }
}

// About page styles
.main-content.about {
  max-width: 800px;
  .content-container {
    padding: 20px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  h3 {
    border-bottom: 6px double $golden-brown;
  }
  figure {
    padding: 20px;
  }
  img {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    box-shadow: 1px 1px 8px 1px rgba(change-color($black, $lightness: 43%), 0.7);
  }
  p {
    line-height: 1.35;
  }
}

// Menu page styles
.main-content.menu {
  h3 {
    margin-bottom: 30px;
  }
  h4 {
    border-bottom: 2px solid $golden-brown;
    margin: 38px 0 18px;
    width: fit-content;
  }
  .menu-item {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    @media all and (min-width: 500px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 0;
    }
    .item-name {
      font-size: 1.15rem;
      font-weight: 600;

    }
    .price {
      font-size: 0.85rem;
    }
  }
  .menu-info {
    font-size: 0.9rem;
  }
}

// Visit page styles
.main-content.visit {
  h3:not(:first-child) {
    margin-top: 40px;
  }
  p {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    @media all and (min-width: 620px) {
      font-size: 1.3rem;
    }
  }
}